<configuration>

    <property name="LOGSTASH_HOST" value="${LOGSTASH_HOST:localhost}" />
    <property name="LOGSTASH_PORT" value="${LOGSTASH_PORT:5000}" />
    <property name="APP_NAME" value="${spring.application.name:-unknown}" />
    <property name="ENV" value="${APP_ENV:dev}" />

    <appender name="LOGSTASH"
              class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGSTASH_HOST}:${LOGSTASH_PORT}</destination>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <root level="INFO">
        <appender-ref ref="LOGSTASH" />
    </root>
</configuration>
